canvas {
    border: 3px solid blue;
}

.textbox{
    /* position: 'absolute'; */
    /* z-index: 1; */
    background-color: transparent;
    width: fit-content;
    border: none;
    /* border: 2px solid green!important; */
    border-radius: 2px; /* Optional: Rounded corners */
    padding: 5px;       /* Optional: Padding inside the textarea */
    /* resize: none;       Optional: Disable resizing */
    overflow: hidden;
}

.textbox:hover{
    border: 1px solid green!important;

}

