.tabs{
    display: flex;
    margin-left: 30px;
}

.tabs input{
    border: 0px solid black;
    margin:0;
    margin-top: 2rem;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.tabs p{
    border: 1px solid black;
    margin:0;
    margin-top: 2rem;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.active-tab{
    border: 3px solid black!important;
    background-color: red;
}

.addtab {
    width: fit-content;
}

