.tabs{
    display: flex;
    margin-left: 30px;
}

.tabs input{
    border: 0px solid black;
    margin:0;
    margin-top: 0!important;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none!important;
    outline: none!important;
}
.tabs p{

}

.active-tab{
    /* border: 3px solid black!important; */
}

.addtab {
    width: fit-content;
}

.addtabButton{
    border: 1px solid black;
    margin:0;
    margin-top: 2rem;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tabContainer{
display: flex;
border: 3px solid black!important;
margin-top: 2rem;
border-top-left-radius: 3px 3px;
border-top-right-radius: 3px 3px;

}

.closingTabX{
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    align-items: center!important;
    height: 100%!important;
    /* padding-bottom: 5px; */
    cursor: pointer;
    padding-right: 3px;
}

.closingTabX p{
    margin: 0;
    padding: 0;
    transform: rotate(45deg);
    margin-right: 3px;
    height: 100%!important;
    display: flex;
    align-items: center;

}
