.lateral-menu {
  display: flex;
  /* flex-direction: column; */
  /* border: 2px solid red; */
  height: 100%;
  /* background-color: #efeff6; */
}
.activeLink{
  color: rgb(79, 70, 229);
  background-color: rgb(224, 231, 255);
  font-weight: bolder; 
}

.hidden {
  display: none;
  position: absolute;

}

.visible {
  display: block;
  min-height: 100%;
  /* border: 2px solid blue;
  background-color: white; */
}

.links{
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.links a{
  padding: 1rem;
  text-decoration: none;   /* Remove underline */
  font-weight: normal; 
  /* background-color: red; */
}
.links a:hover{
  background-color: #b5b2b2;
  font-weight: bold; 
}



.sidebar {
  /* width: 100px; */
  background-color: white!important;
  /* position: fixed; */
  /* height: 100%; */
  height: fit-content;
  z-index: 1;
  overflow: hidden;
  /* display: flex;
  flex-direction: column; */
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 );
  /* width: 400px; */
  /* min-width: fit-content; */

}

.w3-button {
  padding: 10px;
  text-align: left;
  z-index: 1;
}

.button-sidebar{
  height:25px;
  /* background-color: #f1f1f1; */
  border: 1px solid darkgray;
  /* padding-left: 4px; */
  /* padding-right: 4px; */
  background-color: rgb(79, 70, 229)!important;
  color: white;
  font-weight: 800!important;
  font-size: 25px;
  border: none;
  border-radius: 50%;
  width:  25px;
  text-align: center;
  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  
  /* position: absolute; */
  /* bottom: -20px;  */
  /* left: 50%; */
  transform: translateX(-50%); 
  /* padding: 10px 20px; */
  z-index: 900;
}

.menu-item{
display: flex;
/* border: 2px solid red; */
padding: 0.5rem;
}

.generalLink{
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-start;
  /* box-shadow: 0 2px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 ); */
  width: 150px;
  margin-right: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  align-items: center;
}

.icon-sidebar{
  margin-right: 1rem;
  
}