.lateral-menu {
  display: flex;
  /* flex-direction: column; */
  /* border: 2px solid red; */
  height: 100%;
  /* background-color: #efeff6; */
}
.activeLink{
  color: rgb(57, 50, 50);
  background-color: #b5b2b2;
  font-weight: bolder; 
}

.hidden {
  display: none;

}
.links{
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.links a{
  padding: 1rem;
  text-decoration: none;   /* Remove underline */
  font-weight: normal; 
  /* background-color: red; */
}
.links a:hover{
  background-color: #b5b2b2;
  font-weight: bold; 
}

.visible {
  display: block;
  min-height: 100%;
  /* border: 2px solid blue; */
}

.sidebar {
  /* width: 100px; */
  background-color: #f1f1f1;
  /* position: fixed; */
  /* height: 100%; */
  height: fit-content;
  z-index: 1;
  overflow: hidden;
  /* display: flex;
  flex-direction: column; */
}


.w3-button {
  padding: 10px;
  text-align: left;
  z-index: 1;
}
.button-sidebar{
  height: fit-content;
  background-color: #f1f1f1;
  border: 1px solid darkgray;
  padding-left: 4px;
  padding-right: 4px;
}

.menu-item{
display: flex;
/* border: 2px solid red; */
padding: 0.5rem;
}