
#root {
  /* border: 3px solid green; */
  height: 100%;
  width: 100%;

}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100%;
  overflow: hidden;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


